.box {
    width: 50px;
    
}
.header {
    text-align: center;
}
div{
    text-align: center;
    margin: auto 80px
}
div {

    background: rgba(51, 198, 235, 0.473);
}
.xuxu {

    padding: 25px;
    width: 0 auto;
    color: rgb(241, 14, 14);

}