label {
    background: purple;
    color: whitesmoke;
    

}
button {
    color: rgb(59, 45, 19);
    background: palegreen;
    
}
p {
    background-color: gray; 
    color: goldenrod;
    
}
h2 {
    background: paleturquoise;
    width: 700px;

}
div {
    background: rgb(231, 221, 224);
    width: 700px;


}

.box {
    display: auto; 
    padding: 2px;
    margin: 2px;
    
    
    
}